{% extends "base.html" %}

{% block content %}
{% if person %}
   <h2> {{person.user.get_username}} </h2>
   <h3>Interested in these Genres:</h3>
   <ul>
   {% for genre in person.genres.all %}
	   <li class='person_detail_normal'> {{genre.label}} </li>
   {% endfor %}
   </ul>
   <h3>Influenced by:</h3>
   <ul>
   {% for influence in person.influences.all %}
	   <li class='person_detail_normal'> {{influence.label}} </li>
   {% endfor %}
   </ul>

{% else %}
  <p> Nothing here... </p>
{% endif %}

{% endblock %}
